{% extends 'registration/base_registration.html' %}
{% block title %}Reset Password{% endblock title %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="bg-gradient-to-r from-blue-100 via-green-100 to-purple-100 min-h-screen flex justify-center items-center">
  <div class="max-w-lg mx-auto my-10 p-8 bg-white shadow-md rounded-lg min-w-md ">
        <h2 class="text-2xl font-semibold text-center mb-6">Reset Your Password</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="px-4 py-2 mb-4 rounded {% if message.tags == 'success' %}bg-green-500 text-white{% elif message.tags == 'error' %}bg-red-500 text-white{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            {{ form|crispy }}
            
            <button class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Submit</button>
        </form>
    </div>
</div>
  
{% endblock content %}