{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
     <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="xl:mx-18 " style='max-width:90vw min-height:90vh;'>
    {% include "./component/header.html" %}
    <main class="min-h-[90vh]">
      {% block content %} 
      {% endblock content %}
    </main>
    {% include "./component/footer.html" %}
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
